{% extends 'base.html' %}

{% block content %}

{% if not created %}
 
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        {% comment %} <input type="text" name="title" placeholder="Title" />
        <textarea name="content" placeholder="Content"></textarea> {% endcomment %}
        <input type="submit" value="Create Article" />
    </form>
{% else %}
    <p>Your Article was created!</p>
    <a href="/articles/{{ object.id }}/">{{ object.title }} - {{object.content}}</a>

{% endif %}

{% endblock content %}